**/__history/
**/__recovery/
**/Win32/
**/TMSWeb/Debug/
sidewinder.dproj.local
sidewinder.identcache


SidewinderGroup.groupproj.local
*.py
math/lsoda/Sidewinder.Test.LSODA.dproj.local
math/lsoda/Sidewinder.Test.LSODA.identcache
ufMain.vlb
Sidewinder.Tests.dproj.local
Sidewinder.Tests.identcache
